@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-color: #254e58;
    --snd-bg-color: #112d32;
    --text-color: #fff;
    --main-color: #263a3d;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #112d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: default;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: color .5s ease;
}

.navbar a:hover {
    color: #88bdbc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 8%;
    line-height: 1.6;
    background: rgb(38,58,61);
    background: linear-gradient(90deg, rgba(38,58,61,1) 20%, rgba(136,189,188,1) 100%);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 600px;
    width: 90%;
    background: var(--snd-bg-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    text-align: center;
    color: #3aafa9;
    margin-bottom: 20px;
    font-size: 28px;
    border-bottom: 2px solid #0083f5;
    display: inline-block;
    padding-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #1ca08c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #148a76;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
}
