<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/style.css">
    <title>Flask Portfolio</title>
    <link rel="icon" type="image/png" href="static/img/7.png">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="/profile" class="active">Profile</a>
            <a href="#portfolio">Works</a>
            <a href="/contact_us">Contact Us</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>🚀 Mastering Data Structures & Algorithms:</h1>
            <h1>The Key to Efficient Problem-Solving! 🔥</h1>
            <p>Unlock the power of DSA and elevate your coding skills! Data Structures and Algorithms form the backbone of computer science, enabling efficient data management and optimized problem-solving. From arrays and linked lists to graphs and dynamic programming, mastering these concepts is essential for cracking coding interviews, building scalable applications, and excelling in competitive programming.</p>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <h2 class="heading">Works</h2>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/img/1.jpg">
                <a href="/linkedlist">
                    <div class="portfolio-layer">
                        <h4>LinkedList Manager</h4>
                    </div>
                </a>
            </div>

            <div class="portfolio-box">
                <img src="static/img/2.jpg">
                <a href="/stack">
                    <div class="portfolio-layer">
                        <h4>Stack Implementation</h4>
                    </div>
                </a>
            </div>

            <div class="portfolio-box">
                <img src="static/img/3.jpg">
                <a href="/queues">
                    <div class="portfolio-layer">
                        <h4>Queue</h4>
                    </div>
                </a>
            </div>

            <div class="portfolio-box">
                <img src="static/img/4.jpg">
                <a href="/train">
                    <div class="portfolio-layer">
                        <h4>Railway System</h4>
                    </div>
                </a>
            </div>
            <div class="portfolio-box">
                <img src="static/img/5.jpg">
                <a href="/binary_tree">
                    <div class="portfolio-layer">
                        <h4>Binary Tree</h4>
                    </div>
                </a>
            </div>
            <div class="portfolio-box">
                <img src="static/img/6.jpg">
                <a href="/sorting">
                    <div class="portfolio-layer">
                        <h4>Sorting Algorithm</h4>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Group #3 "LNP" | All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>